body {
    font-family: "monico", "sans-serif", monospace;
}

.container {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}

.color-container {
    color: white;
    background: white;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.midnight-blue {
    background-color: #191970;
}

.blood-red {
    Background-color: #880808;
}

.thyme-green {
    background-color: #7c796e;
}

.mountbatten {
    background-color: #997a8d;
}

.gold {
    background-color: #FFD700;
}